header{
  color: whitesmoke;
  background-color: grey;
  text-align: center;
  height: 60px;
  margin-bottom: 0.5rem;
}

main{
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

footer{
  height: 50px;
  background-color: grey;
  color: whitesmoke;
}